/* src/styles/calendarioReservas.css */
.calendario-contenedor {
  margin: 30px auto;
  max-width: 320px;
  text-align: center;
}

.react-calendar {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--now {
  background: #f0f8ff;
  border-radius: 8px;
}

.marcado {
  background: #ffd700 !important;
  border-radius: 8px;
  color: #000 !important;
  font-weight: bold;
}
