.formulario {
  width: min(100%, 450px);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  background-color: white;
}

.formulario-item {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}